/* Fonts
/*************************************/
@font-face {
  font-family: 'Bebas';
  src: url("fonts/bebas-neue-book.otf"); }
@font-face {
  font-family: 'Inconsolata';
  src: url("fonts/inconsolata.otf"); }
/* Variables
/*************************************/
/* General
/*************************************/
html {
  font: 14px/1 Arial, sans-serif; }

body {
  color: rgba(0, 0, 0, 0.87);
  background: #eeeeee;
  padding: 0;
  margin: 0;
  overflow-y: scroll; }

header {
  font-family: Bebas;
  text-align: center;
  background: #3f51b5;
  padding: 3rem 0 6rem;
  margin: 0; }

article {
  background: white;
  max-width: 600px;
  padding: 3rem;
  margin: 0 auto 3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 2px; }

h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 0;
  margin: 0; }

h2 {
  font-weight: normal;
  margin: 3rem 0 0; }
  h2:first-child {
    margin-top: 0; }

h3 {
  color: #e91e63;
  font-family: Inconsolata, monospace,sans-serif;
  font-weight: normal; }

#tabs {
  background: white;
  max-width: 600px;
  padding: 3rem;
  margin: -3rem auto 3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  list-style: none; }
  #tabs li {
    text-align: center;
    display: inline-block;
    width: 30%;
    cursor: pointer; }
