/* Fonts
/*************************************/
@font-face {
    font-family: 'Bebas';
    src: url('fonts/bebas-neue-book.otf');
}
@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/inconsolata.otf');
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-bold.ttf');
    font-weight: bold;
}

/* Variables
/*************************************/
$base: #eeeeee;
$main: #e91e63;

$spacing: 1.5rem;


/* General
/*************************************/
html {
    font: 14px/1 Roboto, Arial, sans-serif;
}
body {
    color: rgba(0, 0, 0, 0.87);

    background: $base;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

p, table, dl {
    line-height: 1.5;
}

a {
    color: $main;
}

/* Main header
/*************************************/
header {
    font-family: Bebas;
    text-align: center;

    background: $main;
    padding: ($spacing * 2) 0 ($spacing * 3);
    margin: 0;
}
h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: normal;

    padding: 0;
    margin: 0;
}

/* Content headers
/*************************************/
h2 {
    color: #3f51b5;
    font-weight: normal;
    margin: 0 0 $spacing;

    span {
        color: rgba(0, 0, 0, 0.54);
        font-style: italic;
        font-size: 1rem;
    }
}
h3 {
    color: #3f51b5;
    margin: ($spacing * 2) 0 $spacing;
    //padding: $spacing 0 0;
    //border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.method h4 {
    //color: #e91e63;
    font-family: monospace,sans-serif;
    font-weight: normal;
    //margin: 0 0 $spacing;
}
h5 {
    margin: 0;
    //font-style: italic;
    font-weight: normal;
    text-transform: uppercase;
}

dt {
    margin: $spacing 0 0;
}

article {
    background: white;
    max-width: 600px;
    padding: ($spacing * 2);
    margin: 0 auto $spacing;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

/* Tables
/*************************************/
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
th {
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: ($spacing / 6);

    &:first-child, &:last-child {
        width: 6rem;
    }
}
td {
    vertical-align: top;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: ($spacing / 6);
}


#tabs {
    background: white;
    max-width: 600px;
    padding: $spacing ($spacing * 2);
    margin: -$spacing auto $spacing;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 2px;

    list-style: none;

    li {
        text-align: center;

        display: inline-block;
        width: 30%;

        cursor: pointer;
    }
}
