/* Fonts
/*************************************/
@font-face {
  font-family: 'Bebas';
  src: url("fonts/bebas-neue-book.otf"); }

@font-face {
  font-family: 'Inconsolata';
  src: url("fonts/inconsolata.otf"); }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto-regular.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto-bold.ttf");
  font-weight: bold; }

/* Variables
/*************************************/
/* General
/*************************************/
html {
  font: 14px/1 Roboto, Arial, sans-serif; }

body {
  color: rgba(0, 0, 0, 0.87);
  background: #eeeeee;
  padding: 0;
  margin: 0;
  overflow-y: scroll; }

p, table, dl, code {
  line-height: 1.5; }

a {
  color: #e91e63; }

/* Main header
/*************************************/
header {
  font-family: Bebas;
  text-align: center;
  background: #e91e63;
  padding: 3rem 0 4.5rem;
  margin: 0; }

h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 0;
  margin: 0; }

/* Content headers
/*************************************/
h2 {
  color: #3f51b5;
  font-weight: normal;
  margin: 0 0 1.5rem; }
  h2 span {
    color: rgba(0, 0, 0, 0.54);
    font-style: italic;
    font-size: 1rem; }

h3 {
  color: #3f51b5;
  margin: 3rem 0 1.5rem; }

.method h4 {
  font-family: monospace,sans-serif; }

h5 {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase; }

dt {
  margin: 1.5rem 0 0; }

article {
  background: white;
  max-width: 600px;
  padding: 3rem;
  margin: 0 auto 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 2px; }

.hljs {
  padding: 1.5rem; }

/* Tables
/*************************************/
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%; }

th {
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0.25rem; }

td {
  vertical-align: top;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0.25rem; }

th:first-child,
.dateformatter th:last-child {
  width: 6rem; }

#tabs {
  background: white;
  max-width: 600px;
  padding: 1.5rem 3rem;
  margin: -1.5rem auto 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  list-style: none; }
  #tabs li {
    text-align: center;
    display: inline-block;
    width: 24%;
    cursor: pointer; }
